@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
@import url('/fonts/FC-Iconic/FC Iconic Regular.ttf');

html,
body {
  padding: 0;
  margin: 0;
  font-family: FC Iconic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
}

a {
  color: #d8575d;
  text-decoration: none;
}

a:hover {
  color: #FC665C;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FC Iconic";
  src: url("/fonts/FC-Iconic/FC Iconic Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "FC Text";
  src: url("/fonts/FC-Iconic/FC Iconic Text Regular.ttf");
  font-style: normal;
}

.ant-layout {
  min-height: 100vh;
}

.main-layout.ant-layout {
  background-color: #fff;
}